<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 扫描相应的包 -->
	<context:component-scan base-package="com.sikaokeji.owner.framework.controller" >   
	</context:component-scan>  

	<!-- 设置启动编码 -->
	<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >    
	    <property name="messageConverters">    
	         <list>    
	             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">    
	                <property name = "supportedMediaTypes">    
	                     <list>    
	                         <value>text/plain;charset=UTF-8</value>    
	                     </list>    
	                </property>    
	             </bean> 
	             <bean class = "org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">    
	                <property name = "supportedMediaTypes">    
	                     <list>    
	                         <value>text/plain;charset=UTF-8</value>    
	                     </list>    
	                </property>    
	             </bean>   
	         </list>    
	    </property>    
	</bean> 
	
	<!-- 配置上传文件直接访问，不被DispatcherServlet处理 -->
	<!-- <mvc:resources location="/img/" mapping="/img/**"/> -->

	<!-- 内部资源视图解析器 规则：前缀+逻辑名+后缀 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" 
	p:defaultEncoding="utf-8" >
	 <!--1024*10240即10240k-->  
        <property name="maxUploadSize" value="52428800"/>  
        <!--resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常-->  
        <property name="resolveLazily" value="true"/>    
	</bean>
	
	<!-- token拦截检查 -->
	<!-- <mvc:interceptors>
    	<mvc:interceptor>
			<mvc:mapping path="/api/issue/*.shtml"/>
			<mvc:mapping path="/api/lawyer/*.shtml"/>
			<mvc:mapping path="/api/nCommittee/*.shtml"/>
			<mvc:mapping path="/api/OCommittee/*.shtml"/>
			<mvc:mapping path="/api/ownersCommittee/*.shtml"/>
			<mvc:mapping path="/api/property/*.shtml"/>
			<mvc:mapping path="/api/third/*.shtml"/>
			<mvc:mapping path="/api/account/*.shtml"/>
			<mvc:mapping path="/api/committee/*.shtml"/>
			<mvc:mapping path="/api/government/*.shtml"/>
			
			<mvc:mapping path="/api/CUserAccount/findArea.shtml"/>
			<mvc:mapping path="/api/CUserAccount/logout.shtml"/>
			
			<bean  class="com.sikaokeji.owner.commons.interceptor.AuthInterceptor"></bean>
    	</mvc:interceptor>
    </mvc:interceptors>   -->
    <!-- token 拦截检查 -->
    <!--  <mvc:interceptors>
	    <mvc:interceptor>			
			<mvc:mapping path="/**" />			
			<bean  class="com.sikaokeji.owner.commons.interceptor.BaseInterceptor"></bean>
	    </mvc:interceptor>
    	<mvc:interceptor>
			
			<mvc:mapping path="/**" />			
			
			<mvc:exclude-mapping path="/api/download/Advertisement.do"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/getAppVersion.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/lawyer/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/property/getPropertyRole.shtml"/>
			
			<mvc:exclude-mapping path="/api/property/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/ownersCommittee/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/nCommittee/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/government/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/third/login.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/register.shtml"/>	
			
			<mvc:exclude-mapping path="/api/CUserAccount/editPassword.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/findArea.shtml"/>
			
			<mvc:exclude-mapping path="/api/account/aliPayCallback.shtml"/>	
			
			
			<mvc:exclude-mapping path="/api/CUserAccount/getRegisterCode.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/getForgetCode.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/findRegistCode.shtml"/>
			
			<mvc:exclude-mapping path="/api/CUserAccount/getVcode.shtml"/>		
			
			<bean  class="com.sikaokeji.owner.commons.interceptor.AuthInterceptor"></bean>
			
    	</mvc:interceptor>    	
    </mvc:interceptors>   -->

</beans>